@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 300vh;
    background-color: #F5FBEF;
}

/* -------------- Home page ------------ */
/* -------------- nav bar - Home page ------------ */
.nav-home{
    display: flex;
    justify-content: space-between;
    background-color: #9E8179;
    /* background-color: #D19DB4; */
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    align-items: center;
    position: fixed;
    width: 100%;
}
.nav-home ul{
    display: flex;
    justify-content: center;
    gap: 27px;
    list-style: none;
    color: white;

}
.nav-home ul li a{
    text-decoration: none;
    color: #ffffff;
    background-color: #9E8179;
}
.nav-home ul li a:hover{
    color: #ffffffb5;
}
.nav-home img {
    height: 20%;
    width: 12%;
}
.nav-home .logo-home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: #ffffff;
    font-size: 120%;
}
.nav-home .logo-home p{
   align-items: center;
   align-content: center;
}
.nav-home .user{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 5px;
    width: 15%;
    
}
.nav-home .user img{
    height: 20px;
    width: 20px;
} 
/*---------------About section---------------*/
.aboutBody{
    height: 60vh;
}

/* -------------- Header home - Home page ------------ */
.header-home{
    background-image:  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(./images/cake-wedding-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;    
}
.header-home .text{
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    align-content: center;
    height: 89%;
    padding: 5%;
    gap: 3%;
}
span{
    color: #D19DB4;
    font-weight: bold;
}

.header-button {
  display: inline-flex;
  align-items: center;
  background-color: #D19DB4;
  border-radius: 4rem;
  color: #fff;
  font-weight: bold;
  transition: background .3s;
  width: 20%;
  height: 6%;
  gap: 20%;
  justify-content: center;
  border: none;
}
.header-button:hover {
  background-color: hsl(354, 100%, 94%);
}

/* -------------- popular-cake home - Home page ------------ */
.popular-cake {
    display: flex;
    justify-content: center;
    text-align: left;
    align-content: center;
    gap: 2%;
    padding: 3%;
    position: relative;
    align-items: center;
}
.popular-cake .text-popular-cake{
    letter-spacing: 0.3px;
    margin-top: 9%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index:-1;
    
}
.popular-cake::after {
    content: '';
    position: absolute;
    top:-29%;
    width: 100%;
    height: 190%; 
    background-color: #f2c6d2 ;
    clip-path: polygon(0 20%, 100% 10%, 100% 80%, 0 100%); 
    z-index: -1000;
  }
.text-popular-cake p{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin-top: 3%;
  font-style: normal;
  color: #fff;
}

.text-popular-cake h2{
font-family: "Ubuntu", sans-serif;
font-weight: 300;
font-style: normal;
font-size: 40px;

}
.popular-cake img{
    width: 15%;
    height: 20%;
    margin-top: 90px;
    border-radius: 20%;
    z-index: -100;
}

/* -------------- Cards home- Home page ------------ */
/* Middle section (Cards section) */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
}

.post img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.post-content {
    padding: 20px;
    flex-grow: 1; 
}

.author-date {
    font-size: 0.9rem;
    color: #757575;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.post-content p {
    font-size: 0.95rem;
    margin-bottom: 15px;
    height: 60px; 
    overflow: hidden; 
}

button.category-button {
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 25%;
    height: 30px;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 30px;
    background-color: #D19DB4;
}
button.category-button:hover {
   background-color: #d19db4a6;
}

 

/* -------------- footer ---------------- */

/* footer */
.aboutBox{
    box-shadow: 1px 1px 9px 6px  rgba(16, 16, 16, 0.230);
    border-bottom: 1px solid #D19DB4;
    line-height: 2rem;
    padding-top: 5.5%;
    padding-bottom: 0.2%;
}
.aboutBox p{
padding: 0.5%;
}
.aboutSection{
    background-color: #F5FBEF;
    box-shadow: 1px 1px 9px 6px  rgba(16, 16, 16, 0.230);
    border: 1px solid #F5FBEF;
    color: rgb(36, 36, 36); 
    width: 100%; 
    text-align: center;
    background-color: #F5FBEF;
    box-shadow: 1px 1px 9px 6px  rgba(16, 16, 16, 0.230);
    border: 1px solid #F5FBEF;
    color: rgb(36, 36, 36); 
    font-size: large;
    padding-bottom: 0.5%;
}
.aboutSection img{
    box-shadow: 1px 1px 9px 4px  rgba(16, 16, 16, 0.230);
    text-align: center;
    border: 0.5px solid #D19DB4;
    border-radius: 1%;
    width: 20%;
    height: 20%;
    margin: 0.5%;
}
h4{
    margin-left: 1%;
}
.aboutText{
    text-align: left;
    font-size: larger;
    margin-bottom: 1%;
    margin-top: 1%;
}

.contactButton{
    margin-top: 1%;
    padding: 2%;
    font-family: 'Ubuntu';
    font-size: large;
    border-radius: 8px;
    border: 2px solid #D19DB4;
    margin-bottom: 1%;
    transition-duration: 0.4ms;
    cursor: pointer;
}
.contactButton:hover{
    background-color: #D19DB4;
    color: #F5FBEF;
}

/* -------- gallery page ----------- */
.gallery-texts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 15%;
    padding: 5%;
    gap: 2%;
}
.gallery-texts h1{
    font-size: 50px;
}
.gallery-texts p{
    width: 70%;
}
.gallery-cakes-types{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gallery-cakes-types .f-t{
    margin-left: 14%;
}
.gallery-cakes-types .s-t{
    margin-right: 4%;
}
.gallery-cakes-types .t-t{
    margin-right: 12%;
}
.galleryButton{
    padding: 2%;
    font-family: 'Ubuntu';
    font-size: large;
    border-radius: 8px;
    border: 2px solid #D19DB4;
    margin-bottom: 1%;
    transition-duration: 0.4ms;
    cursor: pointer;
}
.galleryButton:hover{
    background-color: #D19DB4;
    color: #F5FBEF;
}
.contactButton :hover{
    background-color: #D19DB4;
    color: #F5FBEF;
}
    /*-----------------FORM-------------------*/
    .formBody{
        height: 160vh;
    }
  .contactSection{
    display: grid;
    place-items: center;
    padding-top: 9%;
    padding-bottom: 0.2%;
    margin: 0;
    background-color: #d19db41d;
    margin-bottom: 0.6%;
  }
  form{
    width: 80%; height: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 8px;
  }
  fieldset{
    border: 1px solid #D19DB4;
    padding: 1% 1% 1% 1% }
   input[type=text],[type=tel],[type=email]{
   width: 20%;
   }
   input, textarea{
     border: 1px solid #D19DB4;
   }
   input[type="checkbox"]{
     accent-color: #D19DB4;
   }
   input[type=submit]{
   width: 30%; height: 6%; 
    border: 1px solid #D19DB4;
    color: #F5FBEF;
    background-color: #D19DB4;
    font-size: larger;
   }
   .contactForm{
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 3rem;
   }
   legend{
font-family: 'dancing script';
text-align: center;
   }
   /*---------------FOOTER---------------------*/
footer {
    background-color: #9E8179;
    color: white;
    padding: 40px 20px;
    font-size: 0.875rem;
}

.footer-content {
    text-align: center;
    margin-bottom: 30px;
}

.footer-content p {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.footer-apps {
    text-align: center;
    margin-bottom: 20px;
}

.footer-apps p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.app-icons img {
    width: 150px;
    margin: 0 10px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    align-content: center;
}
.social-links-div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.social-links .social-links-div img {
    height: 20px;
    width: 20px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.875rem;
}

footer p {
    font-size: 0.75rem;
    margin-top: 20px;
}
.copy
{
    text-align: center;
}
